.cyan {
    background-color: #00bcd4 !important;
}


.input-field .prefix.active {
    color: #00bcd4;
}



.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #ff4081;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

    .btn:hover, .btn-large:hover, .btn-small:hover {
        background-color: #ff80ab;
    }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #00bcd4 !important;
}

main {
    flex: 1 0 auto;
    background-color: #00bcd4 !important;
}


.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #00bcd4;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #00bcd4;
    box-shadow: none;
}

.login-form {
    width: 280px
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem
}

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.red:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ff4081; /* You need to change the colour here */
    border-bottom: 2px solid #ff4081; /* And here */
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}