@model HomeViewModel




<div class="row">


    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/images/localOF2.png">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>
                    sdksdk
                </p>
            </div>
            <div class="card-action">
                <a href="#">link</a>
            </div>
        </div>

    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/images/localOF2.png">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>
                    sdksdk
                </p>
            </div>
            <div class="card-action">
                <a href="#">link</a>
            </div>
        </div>
    </div>

    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/images/localOF2.png">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>
                    sdksdk
                </p>
            </div>
            <div class="card-action">
                <a href="#">link</a>
            </div>
        </div>
    </div>

           <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/localOF2.png">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>
                              sdksdk
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">link</a>
                </div>
            </div>
        </div>
</div>
