@model HomeViewModel




<div class="row">


    <div class="col s3">
        <div class="card">
            <div class="card-image" style="text-align:center;">
                <i id="icon" class="fa fa-tag" style="text-shadow: rgb(174, 98, 127) 0px 0px 0px, rgb(183, 103, 133) 1px 1px 0px, rgb(191, 107, 140) 2px 2px 0px, rgb(199, 112, 146) 3px 3px 0px, rgb(207, 117, 152) 4px 4px 0px, rgb(216, 121, 158) 5px 5px 0px, rgb(224, 126, 164) 6px 6px 0px, rgb(232, 131, 170) 7px 7px 0px, rgb(241, 135, 176) 8px 8px 0px; font-size: 82px; color: rgb(255, 255, 255); height: 111.992px; width: 111.992px; line-height: 112px; border-radius: 50%; text-align: center; background-color: rgb(249, 140, 182);"></i>

                <span class="card-title" style="color:black; font-weight:bold;" id="cantPro">3</span>

               

            </div>
            <div class="card-content">
                <p>
                    Productos
                </p>
            </div>
            <div class="card-action">
                <a asp-controller="Producto" asp-action="List">Lista</a>
            </div>
        </div>

    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image" style="text-align:center;">
                <i id="icon" class="fa fa-shopping-cart" style="text-shadow: rgb(134, 160, 83) 0px 0px 0px, rgb(140, 167, 87) 1px 1px 0px, rgb(146, 175, 90) 2px 2px 0px, rgb(153, 182, 94) 3px 3px 0px, rgb(159, 190, 98) 4px 4px 0px, rgb(166, 198, 102) 5px 5px 0px, rgb(172, 205, 106) 6px 6px 0px, rgb(178, 213, 110) 7px 7px 0px, rgb(185, 220, 114) 8px 8px 0px; font-size: 82px; color: rgb(255, 255, 255); height: 111.992px; width: 111.992px; line-height: 112px; border-radius: 50%; text-align: center; background-color: rgb(191, 228, 118);"></i>
                <span class="card-title" style="color:black; font-weight:bold;" id="cantVent"></span>
            </div>
            <div class="card-content">
                <p>
                    Ventas
                </p>
            </div>
            <div class="card-action">
                <a asp-controller="Factura" asp-action="Index">Lista</a>
            </div>
        </div>
    </div>

    <div class="col s3">
        <div class="card">
            <div class="card-image" style="text-align:center;">
                <i id="icon" class="fa fa-user" style="text-shadow: rgb(179, 175, 90) 0px 0px 0px, rgb(189, 186, 96) 1px 1px 0px, rgb(200, 196, 101) 2px 2px 0px, rgb(211, 207, 107) 3px 3px 0px, rgb(222, 218, 112) 4px 4px 0px, rgb(233, 229, 118) 5px 5px 0px, rgb(244, 239, 123) 6px 6px 0px; font-size: 82px; color: rgb(255, 255, 255); height: 111.992px; width: 111.992px; line-height: 112px; border-radius: 50%; text-align: center; background-color: rgb(255, 250, 129);"></i>
                <span class="card-title" style="color:black; font-weight:bold;" id="cantCl"></span>
            </div>
            <div class="card-content">
                <p>
                    Clientes
                </p>
            </div>
            <div class="card-action">
                <a asp-controller="Cliente" asp-action="List">Lista</a>
            </div>
        </div>
    </div>

           <div class="col s3">
            <div class="card">
                <div class="card-image" style="text-align:center;">
                    <i id="icon" class="fa fa-users" style="text-shadow: rgb(135, 125, 151) 0px 0px 0px, rgb(143, 133, 160) 1px 1px 0px, rgb(152, 141, 169) 2px 2px 0px, rgb(160, 148, 178) 3px 3px 0px, rgb(168, 156, 187) 4px 4px 0px, rgb(176, 164, 197) 5px 5px 0px, rgb(185, 171, 206) 6px 6px 0px; font-size: 82px; color: rgb(255, 255, 255); height: 111.992px; width: 111.992px; line-height: 112px; border-radius: 50%; text-align: center; background-color: rgb(193, 179, 215);"></i>
                    <span class="card-title" style="color:black; font-weight:bold;" id="cantProv"></span>
                </div>
                <div class="card-content">
                    <p>
                        Proveedores
                    </p>
                </div>
                <div class="card-action">
                    <a asp-controller="Proveedor" asp-action="List">Lista</a>
                </div>
            </div>
        </div>
</div>
