@model HomeViewModel




<div class="row">


    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/images/localOF2.png">
                <span class="card-title" style="color:black; font-weight:bold;" id="cantPro">12</span>
            </div>
            <div class="card-content">
                <p>
                    Productos
                </p>
            </div>
            <div class="card-action">
                <a asp-controller="Producto" asp-action="List">Lista</a>
            </div>
        </div>

    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/images/Cart.png">
                <span class="card-title" style="color:black; font-weight:bold;" id="cantVent"></span>
            </div>
            <div class="card-content">
                <p>
                    Ventas
                </p>
            </div>
            <div class="card-action">
                <a asp-controller="Factura" asp-action="Index">Lista</a>
            </div>
        </div>
    </div>

    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/images/account.png">
                <span class="card-title" style="color:black; font-weight:bold;" id="cantCl"></span>
            </div>
            <div class="card-content">
                <p>
                    Clientes
                </p>
            </div>
            <div class="card-action">
                <a asp-controller="Cliente" asp-action="List">Lista</a>
            </div>
        </div>
    </div>

           <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/supervisor.png">
                    <span class="card-title" style="color:black; font-weight:bold;" id="cantProv"></span>
                </div>
                <div class="card-content">
                    <p>
                        Proveedores
                    </p>
                </div>
                <div class="card-action">
                    <a asp-controller="Proveedor" asp-action="List">Lista</a>
                </div>
            </div>
        </div>
</div>
