@model LoginViewModel
@{
    Layout = "";
}


<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/LogGister.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body class="cyan">


    <div class="col s12 z-depth-4 card-panel">
        <form asp-action="Login" asp-controller="Account" method="post" role="form" class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <i id="icon" class="fa fa-dollar" style="text-shadow: rgb(166, 138, 25) 0px 0px 0px, rgb(174, 144, 26) 1px 1px 0px, rgb(182, 151, 28) 2px 2px 0px, rgb(190, 158, 29) 3px 3px 0px, rgb(197, 164, 30) 4px 4px 0px, rgb(205, 171, 31) 5px 5px 0px, rgb(213, 177, 32) 6px 6px 0px, rgb(221, 184, 34) 7px 7px 0px, rgb(229, 190, 35) 8px 8px 0px; font-size: 95px; color: rgb(166, 114, 55); height: 112px; width: 112px; line-height: 112px; border-radius: 50%; text-align: center; background-color: rgb(237, 197, 36);"></i>
                    <p class="center login-form-text">Sistema de Facturacion</p>
                </div>
            </div>


            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input asp-for="UserName">
                    <label for="username" class="center-align">Username</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input asp-for="Password">
                    <label for="password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12  login-text">
                    <input type="checkbox" id="remember-me" class="red" />
                    <label for="remember-me">Remember me</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <center>
                        <input type="submit" value="Login" class="btn btn-primary col s12">
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a asp-action="Register">Register Now!</a></p>
                </div>

            </div>
        </form>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>

