@model Inventario.Models.Cliente

@{
    ViewData["Title"] = "Edit";

}

<h4 class="header">Editar cliente</h4>

<div class="row">
   <form asp-action="Edit">
        <input type="hidden" asp-for="ClienteId" />
        <div class="row">
            <div class="input-field col s3">
                <input asp-for="Name" class="validate" />
                <label asp-for="Name">Nombre</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-field col s3">
                <input asp-for="LastName" class="validate" />
                <label asp-for="LastName">Apellido</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input asp-for="IdentificationCard" class="validate" placeholder="Escriba la cedula sin '-'" data-length="12" />
                <label asp-for="IdentificationCard">Cedula</label>
                <span asp-validation-for="IdentificationCard" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input asp-for="PhoneNumber" class="validate" />
                <label asp-for="PhoneNumber">Telefono</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input asp-for="Address" class="validate" />
                <label asp-for="Address">Direccion</label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input asp-for="Email" class="validate" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-primary" value="Save" />
                <a asp-action="List" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </form>
</div>
