@model Inventario.Controllers.FacturaController
@using Inventario.Models
@using Inventario.ViewModels
<h4 class="header">Facturacion</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col s4">
                    <label>Id de Cliente</label>
                    @Html.DropDownList("ClienteId", new SelectList(ViewBag.ClienteId, "ClienteId", "Name"), "-- Select Cliente --")
                </div>
                <div class=" col s4">
                    <label>Fecha</label>
                    <input id="Fecha" type="date" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </form>
        <form asp-controller="Detalle"
              asp-action="Create" id="form1">

            <div class="row">
                <div class="col s3">
                    <label>Id de Producto</label>
                    @Html.DropDownList("ProductoId", new SelectList(ViewBag.ProductoId, "ProductoId", "Name"), "Select Producto")
                </div>
                <div class=" col s3">
                    <label>Descripcion</label>
                    <input id="RDescripcion" value="" type="text" readonly />
                    <span class="text-danger"></span>
                </div>
                <div class=" col s2">
                    <label>Disponible</label>
                    <input id="Rdispon" value="" type="text" readonly />
                    <span class="text-danger"></span>
                </div>
                <div class=" col s2">
                    <label>Precio</label>
                    <input id="Rprecio" value="" type="number" readonly />
                    <span class="text-danger"></span>
                </div>
                <div class=" col s2">
                    <label>Cantidad</label>
                    <input id="RCantidad" value="" type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <!-- <input type="submit" value="Create" class="btn btn-default" id="create" />-->

            </div>
        </form>
    </div>
</div>
<div class="panel panel-default col s12 row">
    <div class="panel-heading">Panel de productos</div>
    <table class="responsive-table" id="mytable">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Importe
                </th>
                <th></th>
            </tr>
        </thead>
        <!--<tbody></tbody>-->
    </table>
    <div class="row" id="total">
        <div class="col 2">
            <p><b>Total: </b></p>
        </div>
        <div class="col 2">
            <p id="Rtotal"></p>
        </div>
    </div>
</div>

<p>
    <a href="#" id="expdf" class="waves-effect waves-light btn" style="display:none;" onclick="generarDesc();"><i class="material-icons left">file_download</i>Exportar pdf</a>
    <a href="#" id="print" class="waves-effect waves-light btn" style="display:none;" onclick="generarImpr();"><i class="material-icons left">print</i>Imprimir</a>
    <a href="#" id="expcsv" class="waves-effect waves-light btn" style="display:none;" onclick="genenerarCsv();"><i class="material-icons left">file_download</i>Exportar csv</a>
    <a href="#" id="cancelar" class="waves-effect waves-light btn" style="display:none;" onclick="limpiaTbl2();">Cancelar</a>
    <a href="#" id="adicionar" class="waves-effect waves-light btn">Colocar</a>
    <a href="#" id="nuevo" class="waves-effect waves-light btn">Nuevo</a>
    <a href="#" id="facturar" onclick="paso1()" class="waves-effect waves-light btn">Facturar</a>
    <a asp-action="List" id="list" class="waves-effect waves-light btn">Cancelar</a>
</p>
<p id="rData">
</p>