@model IEnumerable<Factura>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Ventas</h2>


<table class="responsive-table" id="factTable">
    <thead>
        <tr>
            <th>
                Factura Id
            </th>
            <th>
                Nombre Cliente
            </th>
            <th>
                Fecha
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacturaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.FacturaId" class="btn-floating btn-small waves-effect waves-light blue-grey"><i class="material-icons">more_horiz</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">add_shopping_cart</i></a>
</p>
<p><h5>Productos mas vendidos</h5></p>
<canvas id="myChart" width="400" height="300"></canvas>
<br />
<p><h5>Top fieles clientes</h5></p>
<canvas id="myChart2" width="300" height="250"></canvas>